div.clients

  h3 Flipbase wordt onder andere gebruikt door..
  div.divider

  div.logos
    div.partner
      img(src="#{locals.path}/assets/images/clients/randstad-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/clients/unique-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/clients/stork-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/clients/we-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/clients/odingroep-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/clients/sns-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/clients/schiphol-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/clients/agrifirm-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/clients/vumc-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/clients/tfc-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/clients/weleda-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/clients/bdo-200x200.png")
