.cover-container
  video(poster="#{locals.path}/assets/images/cover.jpg" class="cover-video" muted="muted" preload="auto" loop="true" autoplay="true" controls="false")
    source(type="video/mp4" src="#{locals.path}/assets/images/video/rick.mp4")
    source(type="video/webm" src="#{locals.path}/assets/images/video/rick.webm")
    source(type="video/ogv" src="#{locals.path}/assets/images/video/rick.ogv")
    img(src="#{locals.path}/assets/images/cover.jpg")
  div.cover-overlay

script.
  function setupCoverVideo() {
    var vid = document.querySelector('.cover-video');

    if (vid) {
      coverVid(vid, 1280, 720);
      fullscreen();
      $(window).resize(fullscreen);
      function fullscreen() {
        var videoWrapper = $('.cover-container');
        var windowH = $(window).height();
        var windowW = $(window).width();

        videoWrapper.width(windowW);
        //videoWrapper.height(windowH);
        //$('.cover-video').height(windowH); // fix!!
        $('.cover-video').width(windowW); // fix!!
      }
    }
  }