div.geengedoe
  div.container
    div.header
      h1= page.metadata.gedoe.title
      div.divider
    div.desc
      div.ready
        h4= page.metadata.gedoe.ready
        p= page.metadata.gedoe.ready_desc
      div.everywhere
        h4= page.metadata.gedoe.device
        p= page.metadata.gedoe.device_desc
      div.nodata
        h4= page.metadata.gedoe.data
        p= page.metadata.gedoe.data_desc

div(class="talkingfaces" style="background-image: url(#{locals.path}/assets/images/talkingfaces.jpg);")
  div.mask
  div.teaser
    h1 Talking faces make you smile
    p Yes, they do...