div.how
  div.header
    h2= page.metadata.how.title
  div.container
    div.form
      h4 #[span 01/] #{page.metadata.how.one}
      p= page.metadata.how.one_desc
    div.profile
      h4 #[span 02/] #{page.metadata.how.two}
      p= page.metadata.how.two_desc
    div.share
      h4 #[span 03/] #{page.metadata.how.three}
      p= page.metadata.how.three_desc
    div.enrich
      h4 #[span 04/] #{page.metadata.how.four}
      p= page.metadata.how.four_desc