header
  div.nav-wrapper
    div.nav-inner
      nav.nav
        ul
          li
            a(href="#{locals.path}/" data-type="page-transition") Home
          li
            a(href="#{locals.path}/blog" data-type="page-transition") Blog
          li
            a(href="#{locals.path}/#contact" data-type="page-transition") Contact
          li(style="padding:4px; margin-right: 5px;")
            a(href="#{locals.path}/en" data-type="page-transition")
              img(src="#{locals.path}/assets/images/flag_uk.png")

      div.logo
        a(href="#{locals.path}/" data-type="page-transition")
          block logo
            img(src="#{locals.path}/assets/images/logo_white_small.png")

      div.sticky-logo
        a(href="#{locals.path}/" data-type="page-transition")
          img(src="#{locals.path}/assets/images/logo_small.png")