#partners.partners

  div.introduction
    h2= page.metadata.partners.header
    p= page.metadata.partners.desc

  div.logos
    div.partner
      img(src="#{locals.path}/assets/images/partners/connexys-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/partners/hireserve-200x200.png")
    div.partner
      a(href="https://www.tangram.nl/producten/roos-recruitmentsoftware-mobiliteitssoftware" target="_blank")
        img(src="#{locals.path}/assets/images/partners/tangram-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/partners/cvwarehouse-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/partners/talentsoft-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/partners/emply-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/partners/hroffice-200x200.png")
    div.partner
      img(src="#{locals.path}/assets/images/partners/carerix-200x200.png")
