div.why
  div.container
    div.header
      h2= page.metadata.why.title
      div.divider
    div.mobileready
      img(src="#{locals.path}/assets/images/everydevice.png")
    div.reasoning
      div.row
        i(class="fa fa-comments" aria-hidden="true")
        div.text
          h4= page.metadata.why.no
          p= page.metadata.why.no_desc
      div.row
        i(class="fa fa-user-plus" aria-hidden="true")
        div.text
          h4= page.metadata.why.direct
          p= page.metadata.why.direct_desc
      div.row
        i(class="fa fa-share" aria-hidden="true")
        div.text
          h4= page.metadata.why.versterk
          p= page.metadata.why.versterk_desc
      div.row
        i(class="fa fa-user-times" aria-hidden="true")
        div.text
          h4= page.metadata.why.no2
          p= page.metadata.why.no2_desc