
mixin toLowerCase(val)
  - var str = val.toLowerCase();
  | #{str}
  
mixin videoModal(id, title, video, cover, overlay)
  - var css = !overlay ? 'half-screen-section no-overlay' : 'half-screen-section';
  section
    div(class="#{css}" style="background-image: url(#{cover}")
      .row.vertical-centered-text
        .small-10.small-centered.align-center
          button.open-video-btn(data-open="modalVideo#{id}")
            i.ion-play
          h1 #{title}
  div.reveal.modal-video.large(id='modalVideo#{id}' data-reveal='', data-close-on-click='true', data-animation-in='fade-in', data-animation-out='fade-out')
    video(poster="#{cover}" preload="auto" autoplay="true" controls="true")
      source(type="video/webm" src="#{video}.webm")
      source(type="video/mp4" src="#{video}.mp4")
      source(type="video/ogv" src="#{video}.ogv")
    button.close-button(data-close='', aria-label='Close modal', type='button')
      span(aria-hidden='true') ×

mixin coverVideo(video, cover)
  div(class="cover-container"
    data-vide-bg="mp4: #{video}.mp4, webm: #{video}.webm, ogv: #{video}.ogv, poster: #{cover}"
    data-vide-options="posterType: jpeg")
  div.cover-overlay