// You can find styles for this section in pages/_sollicitatie-proces.scss

section
  .expanded.clients_section
    .row
      .large-8.large-centered
        .row.small-up-2.medium-up-3.large-up-4
        
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/client_1.png" 
            srcset="#{locals.path}/assets/images/clients/client_1@2x.png 2x, #{locals.path}/assets/images/clients/client_1@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/client_2.png" 
            srcset="#{locals.path}/assets/images/clients/client_2@2x.png 2x, #{locals.path}/assets/images/clients/client_2@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/client_3.png" 
            srcset="#{locals.path}/assets/images/clients/client_3@2x.png 2x, #{locals.path}/assets/images/clients/client_3@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/client_4.png" 
            srcset="#{locals.path}/assets/images/clients/client_4@2x.png 2x, #{locals.path}/assets/images/clients/client_4@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/client_5.png" 
            srcset="#{locals.path}/assets/images/clients/client_5@2x.png 2x, #{locals.path}/assets/images/clients/client_5@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/client_6.png" 
            srcset="#{locals.path}/assets/images/clients/client_6@2x.png 2x, #{locals.path}/assets/images/clients/client_6@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/client_7.png" 
            srcset="#{locals.path}/assets/images/clients/client_7@2x.png 2x, #{locals.path}/assets/images/clients/client_7@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/client_8.png" 
            srcset="#{locals.path}/assets/images/clients/client_8@2x.png 2x, #{locals.path}/assets/images/clients/client_8@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/client_9.png" 
            srcset="#{locals.path}/assets/images/clients/client_9@2x.png 2x, #{locals.path}/assets/images/clients/client_9@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/client_10.png" 
            srcset="#{locals.path}/assets/images/clients/client_10@2x.png 2x, #{locals.path}/assets/images/clients/client_10@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/client_11.png" 
            srcset="#{locals.path}/assets/images/clients/client_11@2x.png 2x, #{locals.path}/assets/images/clients/client_11@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/client_12.png" 
            srcset="#{locals.path}/assets/images/clients/client_12@2x.png 2x, #{locals.path}/assets/images/clients/client_12@3x.png 3x")