// You can find styles for this section in pages/_sollicitatie-proces.scss

section
  .expanded.clients_section
    .row
      .large-8.large-centered
        .row.small-up-2.medium-up-3.large-up-4
        
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/randstad.png" 
            srcset="#{locals.path}/assets/images/clients/randstad@2x.png 2x, #{locals.path}/assets/images/clients/randstad@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/virgin.png" 
            srcset="#{locals.path}/assets/images/clients/virgin@2x.png 2x, #{locals.path}/assets/images/clients/virgin@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/accenture.png" 
            srcset="#{locals.path}/assets/images/clients/accenture@2x.png 2x, #{locals.path}/assets/images/clients/accenture@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/kpn.png" 
            srcset="#{locals.path}/assets/images/clients/kpn@2x.png 2x, #{locals.path}/assets/images/clients/kpn@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/vumc.png" 
            srcset="#{locals.path}/assets/images/clients/vumc@2x.png 2x, #{locals.path}/assets/images/clients/vumc@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/plus.png" 
            srcset="#{locals.path}/assets/images/clients/plus@2x.png 2x, #{locals.path}/assets/images/clients/plus@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/frieslandcampina.png" 
            srcset="#{locals.path}/assets/images/clients/frieslandcampina@2x.png 2x, #{locals.path}/assets/images/clients/frieslandcampina@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/pon.png" 
            srcset="#{locals.path}/assets/images/clients/pon@2x.png 2x, #{locals.path}/assets/images/clients/client_8@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/stork.png" 
            srcset="#{locals.path}/assets/images/clients/stork@2x.png 2x, #{locals.path}/assets/images/clients/stork@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/unit-4.png" 
            srcset="#{locals.path}/assets/images/clients/unit-4@2x.png 2x, #{locals.path}/assets/images/clients/unit-4@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/kraft.png" 
            srcset="#{locals.path}/assets/images/clients/kraft@2x.png 2x, #{locals.path}/assets/images/clients/kraft@3x.png 3x")
            
          .column.column-block.clients_image
            img(src="#{locals.path}/assets/images/clients/bdo.png" 
            srcset="#{locals.path}/assets/images/clients/bdo@2x.png 2x, #{locals.path}/assets/images/clients/bdo@3x.png 3x")