section
  .expanded.features_2_section
    .row
      .medium-6.medium-centered
        h2.features_2_title #{page.metadata.features_2.title}

      // Feature 1
      .large-4.columns.features_2_content
        h4.features_2_header #{page.metadata.features_2.feature1_header}
        p.features_2_text #{page.metadata.features_2.feature1_desc}

      // Feature 2
      .large-4.columns.features_2_content
        h4.features_2_header #{page.metadata.features_2.feature2_header}
        p.features_2_text #{page.metadata.features_2.feature2_desc}

      // Feature 3
      .large-4.columns.features_2_content
        h4.features_2_header #{page.metadata.features_2.feature3_header}
        p.features_2_text #{page.metadata.features_2.feature3_desc}