// You can find styles for this section in pages/_sollicitatie-proces.scss

section
  .row
    .large-8.large-centered
      .row.small-up-2.medium-up-3.large-up-4.partners_section(data-aos="fade-zoom-in")
        h2.partners_title Onder andere geïntegreerd in:
        
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/partner_1.png" 
          srcset="#{locals.path}/assets/images/partners/partner_1@2x.png 2x, #{locals.path}/assets/images/partners/partner_1@3x.png 3x")
          
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/partner_2.png" 
          srcset="#{locals.path}/assets/images/partners/partner_2@2x.png 2x, #{locals.path}/assets/images/partners/partner_2@3x.png 3x")
          
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/partner_3.png" 
          srcset="#{locals.path}/assets/images/partners/partner_3@2x.png 2x, #{locals.path}/assets/images/partners/partner_3@3x.png 3x")
          
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/partner_4.png" 
          srcset="#{locals.path}/assets/images/partners/partner_4@2x.png 2x, #{locals.path}/assets/images/partners/partner_4@3x.png 3x")
          
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/partner_5.png" 
          srcset="#{locals.path}/assets/images/partners/partner_5@2x.png 2x, #{locals.path}/assets/images/partners/partner_5@3x.png 3x")
          
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/partner_6.png" 
          srcset="#{locals.path}/assets/images/partners/partner_6@2x.png 2x, #{locals.path}/assets/images/partners/partner_6@3x.png 3x")
          
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/partner_7.png" 
          srcset="#{locals.path}/assets/images/partners/partner_7@2x.png 2x, #{locals.path}/assets/images/partners/partner_7@3x.png 3x")
          
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/partner_8.png" 
          srcset="#{locals.path}/assets/images/partners/partner_8@2x.png 2x, #{locals.path}/assets/images/partners/partner_8@3x.png 3x")