// You can find styles for this section in pages/_sollicitatie-proces.scss

section
  .row
    .large-8.large-centered
      .row.small-up-2.medium-up-3.large-up-4.partners_section(data-aos="fade-zoom-in")
        h2.partners_title #{page.metadata.integrated_in}
        
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/lumesse.png" 
          srcset="#{locals.path}/assets/images/partners/lumesse@2x.png 2x, #{locals.path}/assets/images/partners/lumesse@3x.png 3x")
          
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/talentsoft.png" 
          srcset="#{locals.path}/assets/images/partners/talentsoft@2x.png 2x, #{locals.path}/assets/images/partners/talentsoft@3x.png 3x")

        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/tangram.png" 
          srcset="#{locals.path}/assets/images/partners/tangram@2x.png 2x, #{locals.path}/assets/images/partners/tangram@3x.png 3x")
          
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/hroffice.png" 
          srcset="#{locals.path}/assets/images/partners/hroffice@2x.png 2x, #{locals.path}/assets/images/partners/hroffice@3x.png 3x")          

        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/emply.png" 
          srcset="#{locals.path}/assets/images/partners/emply@2x.png 2x, #{locals.path}/assets/images/partners/emply@3x.png 3x")
          
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/connexys.png" 
          srcset="#{locals.path}/assets/images/partners/connexys@2x.png 2x, #{locals.path}/assets/images/partners/connexys@3x.png 3x")
                   
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/cvwarehouse.png" 
          srcset="#{locals.path}/assets/images/partners/cvwarehouse@2x.png 2x, #{locals.path}/assets/images/partners/cvwarehouse@3x.png 3x")
          
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/hireserve.png" 
          srcset="#{locals.path}/assets/images/partners/hireserve@2x.png 2x, #{locals.path}/assets/images/logos/hireserve@3x.png 3x")
        
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/carerix.png" 
          srcset="#{locals.path}/assets/images/partners/carerix@2x.png 2x, #{locals.path}/assets/images/partners/carerix@3x.png 3x")
        
        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/talmundo.png" 
          srcset="#{locals.path}/assets/images/partners/talmundo@2x.png 2x, #{locals.path}/assets/images/partners/talmundo@3x.png 3x")

        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/appical.png" 
          srcset="#{locals.path}/assets/images/partners/appical@2x.png 2x, #{locals.path}/assets/images/partners/appical@3x.png 3x")

        .column.column-block.partners_image
          img(src="#{locals.path}/assets/images/partners/ytf.png" 
          srcset="#{locals.path}/assets/images/partners/ytf@2x.png 2x, #{locals.path}/assets/images/partners/ytf@3x.png 3x")
