section
  .row.what_we_offer(data-equalizer data-equalize-on="medium")
    .medium-6.medium-centered
      h2 What we offer
    .medium-9.large-12
      .row
        .large-5.columns
          h4 #{page.metadata.what_we_offer.header1}
          p #{page.metadata.what_we_offer.offer1}
        .large-5.columns
          h4 #{page.metadata.what_we_offer.header3}
          p #{page.metadata.what_we_offer.offer3}
    .medium-9.large-12
      .row
        .large-5.columns
          h4 #{page.metadata.what_we_offer.header2}
          p #{page.metadata.what_we_offer.offer2}
        .large-5.column
          h4 #{page.metadata.what_we_offer.header4}
          p #{page.metadata.what_we_offer.offer4}
    .medium-9.large-12
      .row
        .large-5.column
          h4 #{page.metadata.what_we_offer.header6}
          p #{page.metadata.what_we_offer.offer6}
        .large-5.columns
          h4 #{page.metadata.what_we_offer.header5}
          p #{page.metadata.what_we_offer.offer5}