section
  .row.who_we_are
    .medium-10.large-6.columns
      h4 #{page.metadata.who_we_are.title}
      p #{page.metadata.who_we_are.text}
    .medium-12.large-5.columns
      img(src="#{locals.path}/assets/images/jobs/1.jpg" srcset="#{locals.path}/assets/images/jobs/1@2x.jpg 2x, #{locals.path}/assets/images/jobs/1@3x.jpg 3x")