section
  .row.who_we_are-additional(data-aos="fade-zoom-in")
    .medium-8.large-6.column
      h4 #{page.metadata.who_we_are_additional.title1}
      p #{page.metadata.who_we_are_additional.text1}
      p #{page.metadata.who_we_are_additional.text1_2}
      br
      h4 #{page.metadata.who_we_are_additional.title2}
      p #{page.metadata.who_we_are_additional.text2}