extends layout

block body
  section
    .full-screen-section.not_found(style="background-image: url(#{locals.path}/assets/images/404.jpg)")
      .row
        .medium-8.large-6.medium-centered
          h1 #{page.metadata.title}
          p #{page.metadata.text}
          .medium-12.large-5.columns.padding-0
            a(href="#{locals.path}/")
              button Go to the homepage
          .large-2.columns.padding-0.show-for-large.or Or
          .medium-12.large-5.columns.padding-0
            a(href="#{locals.path}/contact.html")
              button Contact Us
            
  script.
    fullscreen();
    $(window).resize(fullscreen);
    function fullscreen() {
      var videoWrapper = $('.full-screen-section');
      var windowH = $(window).height();
      var windowW = $(window).width();

      videoWrapper.width(windowW);
      videoWrapper.height(windowH);
    }
