// You can find styles for this section in pages/_blog.scss

extends layout

//- Only include player when defined in metadata
block append scripts
  if page.metadata.player
    script(src="https://app.flipbase.com/player.js")

block body
  .row.blog_section
    .small-10.small-centered.blog_title
      h1 Blog
    .small-12.blog_categories
      ul
        li
          a Case studies
        li
          a Product updates
        li
          a Applications
        li
          a Applications
    article 
      .blog_article_content
      
        //- Social media icons _top
        .medium-12.large-11.medium-centered.blog_article_social_top
            ul.sticky.rrssb-buttons
              li Deel op
              li.rrssb-linkedin
                a(class="popup")
                  i.ion-social-linkedin-outline
              li.rrssb-facebook
                a(class="popup")
                  i.ion-social-facebook-outline
              li.rrssb-twitter
                a(class="popup")
                  i.ion-social-twitter-outline
        
        // Image cover (optional)
        if page.metadata.cover
          .small-11.medium-8.small-centered
            img.float-center(src="#{page.metadata.cover}")
                
        // Post Header
        .small-10.medium-6.small-centered
          h2= page.metadata.title
          small.meta Geschreven door #{page.metadata.author} op #{page.metadata.date}
  
        // Article content
        #article !{page.html}
        
        // Divider
        .small-8.medium-5.small-centered.blog_article-end
        
        //- Social media icons _bottom
        .small-11.medium-6.small-centered.blog_article_social
          ul.rrssb-buttons
            li Deel op
            li.rrssb-linkedin
              a(class="popup")
                i.ion-social-linkedin-outline
            li.rrssb-facebook
              a(class="popup")
                i.ion-social-facebook-outline
            li.rrssb-twitter
              a(class="popup")
                i.ion-social-twitter-outline
                
        // Tags        
        .small-11.medium-6.small-centered.blog_article_tags
          ul
            li Topics
            li
              a(href="#") Product updates
            li
              a(href="#") Inspiration
        
block append footer-scripts
  script.
    var desc = $('#article').first().text().slice(0, 144) + ' ...';
    $('.blog_section .rrssb-buttons').rrssb({
      // required:
      title: '#{page.title}',
      url: '!{locals.path}!{page.url}',
      // optional:
      description: desc
    });

    var $social_top = $(".blog_article_social_top ul");
    $(window).scroll(function () {
        if (252 < $(window).scrollTop()) {
            $social_top.addClass("sticky-social");
        } else {
            $social_top.removeClass("sticky-social");
        }
    });