// You can find styles for this section in pages/_contact.scss

extends layout

block body
  .contact
    div(style="background-image: url(#{locals.path}/assets/images/leidsegracht.jpg);" class="cover")
      .mask
      .contact-box
        img.contact_logo(src="#{locals.path}/assets/images/logo.png" srcset="#{locals.path}/assets/images/logo@2x.png 2x, #{locals.path}/assets/images/logo@3x.png 3x")
        .divider
        .details
          p 
            | Leidsegracht 16E 
            br
            | 1016 CK, Amsterdam
            br
            | support@flipbase.com
            br
            | +31 (0)20 893 26 47
        button(type="button" class="scrollto") #{page.metadata.contact.scroll}

  // Contact Form
  .row.contact_form_section.clearfix
  .small-10.medium-5.large-4.small-centered
    h3= page.metadata.contact.title
    form#contact_form
      .small-12
        input(placeholder="#{page.metadata.contact.name} *" id="name" type="text")
      .small-12
        input(placeholder="#{page.metadata.contact.email} *" id="email" type="email")
      .small-12
        textarea(placeholder="#{page.metadata.contact.msg} *" rows="4" id="message")
        button(type="submit" style="margin-bottom: 20px; background-color: #a62651; border-radius: 4px; padding: 20px 40px 20px 40px; color: white; font-weight: bold;") Versturen
        #loadingProgress.loading
          span
            i.ion-ios-loop-strong
            | Sending your application!
        .clearfix
        #successMessage.success
          span
            i.ion-checkmark-round
            | All good! Je hoort zo snel mogelijk van ons!
        #errorMessage.error
          span
        div(style="margin-bottom: 50px; clear: both; position: relative;")


block append footer-scripts
  script.
    // Smooth Scroll to contact form
    $(".scrollto").click(function() {
      $('html, body').animate({
          scrollTop: $(".contact_form_section").offset().top
      }, 1000);
    });

    //- fullscreen cover image
    fullscreen();
    $(window).resize(fullscreen);
    function fullscreen() {
      var wrapper = $('.cover, .mask');
      var windowH = $(window).height();
      var windowW = $(window).width();

      wrapper.width(windowW);
      wrapper.height(windowH);
    }
    
    // Form
    
    $('input, textarea').placeholder();
    $('#successMessage, #errorMessage, #loadingProgress').hide();

    var formID = '#contact_form';

    //- Translate error message
    var errorMsg = {
      name: 'naam',
      email: 'email',
      message: 'bericht' 
    };
    var fields = ['name', 'email', 'message'];

    function err(msg) {
      return 'Kan gebeuren: je hebt je ___ niet ingevuld.'.replace(/___/, msg);
    }

    function getData () {
      return {
        naam: $('#name').val(),
        email: $('#email').val(),
        message: $('#message').val()
      }
    }