// You can find styles for this section in pages/_home.scss

extends layout
  
block body
  section
    .full-screen-section
      include partials/_covervideo
      .row(data-equalizer data-equalize-on="medium")
        h1.home-header.align-center #{page.metadata.header}
        .medium-6.medium-6.columns
          a.home-link(href="#{page.metadata.sp_path}")
            .home-text-block(data-equalizer-watch)
              h3 #{page.metadata.sp_title}
              p #{page.metadata.sp_desc}
        .medium-6.medium-6.columns.end
          a.home-link(href="#{page.metadata.eb_path}")
            .home-text-block(data-equalizer-watch href="#")
              h3 #{page.metadata.eb_title}
              p #{page.metadata.eb_desc}
        
