extends layout
  
block body
  section
    .full-screen-section
      include partials/_covervideo
      .row(data-equalizer data-equalize-on="medium")
        h1.home-header.align-center #{page.metadata.header}
        .medium-6.medium-6.columns
          a.home-link(href="#")
            .home-text-block(data-equalizer-watch)
              h3 #{page.metadata.title1}
              p #{page.metadata.desc1}
        .medium-6.medium-6.columns.end
          a.home-link(href="#")
            .home-text-block(data-equalizer-watch href="#")
              h3 #{page.metadata.title2}
              p #{page.metadata.desc2}
        
