// You can find styles for this section in pages/_jobs.scss

extends layout

//- Only include player when defined in metadata
block append scripts
  script(src="https://app.flipbase.com/recorder.js")
  if page.metadata.player
    script(src="https://app.flipbase.com/player.js")

block body
  .full-screen-section.no-overlay(style="background-image: url(#{locals.path}/assets/images/jobs/video-bg.jpg")
    .row.vertical-centered-text
      .small-10.small-centered.align-center
        button.open-video-btn(data-open="modalVideo1")
          i.ion-play
        h1 Stage content- & online marketing
  
  #modalVideo1.reveal.modal-video.large(data-reveal='', data-close-on-click='true', data-animation-in='fade-in', data-animation-out='fade-out')
    video(poster="#{locals.path}/assets/images/cover.jpg" preload="auto" autoplay="true" controls="true")
      source(type="video/webm" src="#{locals.path}/assets/images/video/rick.webm")
      source(type="video/mp4" src="#{locals.path}/assets/images/video/rick.mp4")
      source(type="video/ogv" src="#{locals.path}/assets/images/video/rick.ogv")
    button.close-button(data-close='', aria-label='Close modal', type='button')
      span(aria-hidden='true') ×

  
  article
    .row.job_post_section
      .large-6
        #article !{page.html}

  include partials/_applicationform
  
block append footer-scripts
  script.
    var formID = '#applicationform';

    $('#firstname, #lastname, #english-level, #resume, #cover').placeholder();

    //- Translate error message
    var errorMsg = {
      firstname: 'voornaam',
      lastname: 'achternaam',
      resume: 'resume',
      cover: 'cover',
      video: 'video' 
    };
    var fields = ['firstname', 'lastname', 'english-level', 'resume', 'cover', 'video'];

    function err(msg) {
      return 'Kan gebeuren: je bent je ' + msg + ' vergeten in te vullen!';
    }

    function getData () {
      return {
        voornaam: $('#firstname').val(),
        achternaam: $('#lastname').val(),
        vacature: $('#english-level').val(),
        email: $('#resume').val(),
        telefoon: $('#cover').val(),
        video: 'https://app.flipbase.com/video/' + $('#video').val()
      }
    }

    // Custom upload input
    ;(function ($) {
      // Browser supports HTML5 multiple file?
      var multipleSupport = typeof $('<input/>')[0].multiple !== 'undefined',
        isIE = /msie/i.test(navigator.userAgent);

      $.fn.customFile = function () {

        return this.each(function () {

          var $file = $(this).addClass('custom-file-upload-hidden'), // the original file input
            $wrap = $('<div class="file-upload-wrapper">'),
            $input = $('<input type="text" class="file-upload-input" />'),
            // Button that will be used in non-IE browsers
            $button = $('<button type="button" class="file-upload-button">Browse</button>'),
            // Hack for IE
            $label = $('<label class="file-upload-button" for="' + $file[0].id + '">Browse</label>');

          // Hide by shifting to the left so we
          // can still trigger events
          $file.css({
            position: 'absolute',
            left: '-9999px'
          });

          $wrap.insertAfter($file)
            .append($file, $input, (isIE ? $label : $button));

          // Prevent focus
          $file.attr('tabIndex', -1);
          $button.attr('tabIndex', -1);

          $button.click(function () {
            $file.focus().click(); // Open dialog
          });

          $file.change(function () {

            var files = [],
              fileArr, filename;

            // If multiple is supported then extract
            // all filenames from the file array
            if (multipleSupport) {
              fileArr = $file[0].files;
              for (var i = 0, len = fileArr.length; i < len; i++) {
                files.push(fileArr[i].name);
              }
              filename = files.join(', ');

              // If not supported then just take the value
              // and remove the path to just show the filename
            } else {
              filename = $file.val().split('\\').pop();
            }

            $input.val(filename) // Set the value
              .attr('title', filename) // Show filename in title tootlip
              .focus(); // Regain focus

          });

          $input.on({
            blur: function () {
              $file.trigger('blur');
            },
            keydown: function (e) {
              if (e.which === 13) { // Enter
                if (!isIE) {
                  $file.trigger('click');
                }
              } else if (e.which === 8 || e.which === 46) { // Backspace & Del
                // On some browsers the value is read-only
                // with this trick we remove the old input and add
                // a clean clone with all the original events attached
                $file.replaceWith($file = $file.clone(true));
                $file.trigger('change');
                $input.val('');
              } else if (e.which === 9) { // TAB
                return;
              } else { // All other keys
                return false;
              }
            }
          });

        });

      };

      // Old browser fallback
      if (!multipleSupport) {
        $(document).on('change', 'input.customfile', function () {

          var $this = $(this),
            // Create a unique ID so we
            // can attach the label to the input
            uniqId = 'customfile_' + (new Date()).getTime(),
            $wrap = $this.parent(),

            // Filter empty input
            $inputs = $wrap.siblings().find('.file-upload-input')
            .filter(function () {
              return !this.value
            }),

            $file = $('<input type="file" id="' + uniqId + '" name="' + $this.attr('name') + '"/>');

          // 1ms timeout so it runs after all other events
          // that modify the value have triggered
          setTimeout(function () {
            // Add a new input
            if ($this.val()) {
              // Check for empty fields to prevent
              // creating new inputs when changing files
              if (!$inputs.length) {
                $wrap.after($file);
                $file.customFile();
              }
              // Remove and reorganize inputs
            } else {
              $inputs.parent().remove();
              // Move the input so it's always last on the list
              $wrap.appendTo($wrap.parent());
              $wrap.find('input').focus();
            }
          }, 1);

        });
      }
    }(jQuery));

    $('input[type=file]').customFile();
    
      