include mixins/mixins

doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      | !{ livereloadScript }
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      link(rel="shortcut icon" href="#{locals.path}/assets/images/favicon.ico")

      block title 
        title #{locals.name}
      
      block stylesheets
        link(href="/assets/css/dependencies.min.css" type="text/css" rel="stylesheet")
        link(href="/assets/css/style.css" type="text/css" rel="stylesheet")

      block scripts
        script(src='/assets/js/modernizr.custom.min.js')
        script.
          //- Alternative typekit loader that stores font in a session, which should lead to faster loading times
          (function(d) {
            var tkTimeout=3000;
            if(window.sessionStorage){if(sessionStorage.getItem('useTypekit')==='false'){tkTimeout=0;}}
            var config = {
              kitId: 'uvu0omm',
              scriptTimeout: tkTimeout
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
          })(document);

        <!--[if lt IE 9]>
        script(src='/assets/components/html5shiv/dist/html5shiv.min.js')
        <![endif]-->
  body.animsition

    <!--[if lt IE 9 ]>
    div(class="ie-warning")
      div(class="ie-warning-wrapper") 
        h3 The browser you're currently using is outdated
        p We no longer support this browser. Please use any of the following more modern alternatives
        div(class="browser-choice")
          div(class="browser chrome-icon" style="background: url(#{locals.path}/assets/images/chrome.png) no-repeat top;") 
            button(class="download-browser" onclick="location.href='https://www.google.com/chrome/browser/desktop/'") Download Chrome 
          div(class="browser firefox-icon" style="background: url(#{locals.path}/assets/images/firefox.png) no-repeat top;")
            button(class="download-browser" onclick="location.href='https://www.mozilla.org/en-US/firefox/new/'") Download Firefox
          div(class="browser ie-icon" style="background: url(#{locals.path}/assets/images/ie.png) no-repeat top;")
            button(class="download-browser" onclick="location.href='http://windows.microsoft.com/en-us/internet-explorer/download-ie'") Download IE 11
    <![endif]-->
    
    include partials/layout/_nav
    
    #main.main
      .off-canvas-wrapper-inner(data-off-canvas-wrapper)
      
        // Mobile Menu
        #offCanvas.off-canvas.position-left(data-off-canvas='', data-options, data-position="left", data-content-scroll="false")
          // Menu
          ul.vertical.menu(data-accordion-menu='')
            li
              a(href='#') Products
              ul.menu.vertical.nested
                li
                  a(href='#{locals.path}/sollicitatie-proces.html') Application proces
                li
                  a(href='#{locals.path}/employer-branding.html') Employer branding
            li
              a(href='#{locals.path}/jobs.html') Jobs
            li
              a(href='#{locals.path}/blog') Blog
            li
              a(href='#') Help
              ul.menu.vertical.nested
                li
                  a(href='#') Recruiters
                li
                  a(href='#') Candidates
                li
                  a(href='#') Developers
            li
              a(href='#{locals.path}/contact.html') Contact
            li
              a.language(href='#')
                img(src="/assets/images/flag_uk.png")
      
        // There is the rest contect of the page
        .off-canvas-content(data-off-canvas-content)

          block body

          footer
            include partials/layout/_footer

    block footer-scripts
      script(src="https://app.flipbase.com/recorder.js")
      script(src="/assets/js/dependencies.min.js")
      script(src='/assets/js/page.min.js')