// You can find styles for this section in layout/_footer.scss

.row.column
  .medium-3.large-4.columns
    a.logo(href="#{locals.path}/" data-type="page-transition")
      img(src="#{locals.path}/assets/images/logo_white_small.png")
    p.language
      | Change language to: 
      a(href='#')
        img(src="#{locals.path}/assets/images/flag_uk.png")
    .social-block
      a(href="")
        i.ion-social-linkedin
      a(href="")
        i.ion-social-facebook
      a(href="")
        i.ion-social-twitter
    br.show-for-small-only
  .medium-2.columns
    h6 Products
    ul
      li 
        a(href="#{locals.path}/employer-branding.html") Employer branding
      li
        a(href="href='#{locals.path}/sollicitatie-proces.html") Applicaiton proces
  .medium-2.columns
    h6 Support
    ul
      li 
        a(href="") FAQ
      li
        a(href="") Help center
      li
        a(href="") Developer documentation
  .medium-2.columns
    h6 About us
    ul
      li 
        a(href="") Our mission
      li
        a(href="#{locals.path}/jobs.html") Jobs
      li
        a(href='#{locals.path}/blog') Blog
      br.show-for-medium
      li
        a(href="#{locals.path}/privacy.html") Privacy Policy
  .medium-2.end.columns
    h6 Contact
    ul
      li 
        p 
          | +31 (0) 20 893 26 47
          br
          | support@flipbase.com
      li
        p 
          | Leidsegracht 16E
          br
          | 1016 CK Amsterdam
          br
          | KvK 59906960
          br
          | BTW NL853689970B01

  