section
  .expanded.features_6_section
    .row.split_section-right(data-equalizer data-equalize-on="large")
      .medium-4.medium-centered.features_6_header_block
        h2.features_1_title Hoe werkt het?

      // Feature 1

      // Mobile Image
      .small-12.columns.show-for-small-only
        img(src="#{locals.path}/assets/images/employer-branding/1.png" srcset="#{locals.path}/assets/images/employer-branding/1@2x.png 2x, #{locals.path}/assets/images/employer-branding/1@3x.png 3x" style="margin-bottom: 10px")

      // Description
      .small-11.small-centered.large-4.columns.large-uncentered(data-equalizer-watch)
        h4 Hoe werkt het?
        p Nodig een of meerdere collega’s uit per e-mail om een video op te nemen voor de geselecteerde vacature of social media bericht. 
        p Geef aan enkele tips of suggesties wat je collega eventueel kan benoemen in zijn of haar video. 
        p Stuur een voorbeeld van een video mee zodat de collega een idee heeft wat van hem of haar verwacht wordt.

      // Desktop Image
      .medium-12.large-8.columns.hide-for-small-only.vertical_centered(data-equalizer-watch)
        .vertical_centered_content
          img(src="#{locals.path}/assets/images/employer-branding/1.png" srcset="#{locals.path}/assets/images/employer-branding/1@2x.png 2x, #{locals.path}/assets/images/employer-branding/1@3x.png 3x")


    //Feature 2    

    .row.split_section-left.fix(data-equalizer data-equalize-on="medium")
      .medium-6.large-7.columns(data-equalizer-watch)
        img.custom-padding(src="#{locals.path}/assets/images/employer-branding/2.png" srcset="#{locals.path}/assets/images/employer-branding/2@2x.png 2x, #{locals.path}/assets/images/employer-branding/2@3x.png 3x")
      .small-11.small-centered.medium-6.medium-uncentered.large-4.columns.vertical_centered(data-equalizer-watch)
        .vertical_centered_content
          h4 Ontvang en beheer video’s
          p Op het moment dat een video is opgenomen ontvang je een e-mail notificatie. In het dashboard heb je een overzicht van alle video’s die eerder zijn opgenomen. 
          p Verwijder video’s die je niet meer nodig hebt of waarvan je zeker. 

    // Feature 3

    .row.split_section-left(data-equalizer data-equalize-on="medium")

      // Mobile image
      .small-12.columns.show-for-small-only
        img(src="#{locals.path}/assets/images/employer-branding/3.png" srcset="#{locals.path}/assets/images/employer-branding/3@2x.png 2x, #{locals.path}/assets/images/employer-branding/3@3x.png 3x")

      // Description
      .small-11.small-centered.medium-6.medium-uncentered.large-4.columns.vertical_centered(data-equalizer-watch)
        .vertical_centered_content
          h4 Publiceer video’s
          p ‘Deel de video’ met een werkenbij website om deze toe te voegen aan een vacature of met Facebook, Twitter of LinkedIn om toe te voegen aan een post.

      // Desktop Image
      .medium-6.large-7.columns.hide-for-small-only(data-equalizer-watch)
        img(src="#{locals.path}/assets/images/employer-branding/3.png" srcset="#{locals.path}/assets/images/employer-branding/3@2x.png 2x, #{locals.path}/assets/images/employer-branding/3@3x.png 3x")