// You can find styles for this section in pages/_employer-branding.scss

section
  .expanded.features_6_section
  
    // Feature 1
    
    .row.split_section-right.row90(data-equalizer data-equalize-on="large", data-aos="fade-zoom-in")
      .medium-4.medium-centered.features_6_header_block
        h2.features_1_title #{page.metadata.howdoesitworks.title}

      // Mobile Image
      .small-12.columns.hide-for-large
        img(src="#{locals.path}/assets/images/employer-branding/1.png" srcset="#{locals.path}/assets/images/employer-branding/1@2x.png 2x, #{locals.path}/assets/images/employer-branding/1@3x.png 3x" style="margin-bottom: 10px")

      // Description
      .small-11.large-4.large-push-1.columns.fix(data-equalizer-watch)
        h4 #{page.metadata.howdoesitworks.header1}
        p #{page.metadata.howdoesitworks.text1_1}
        p #{page.metadata.howdoesitworks.text1_2}
        p #{page.metadata.howdoesitworks.text1_3}

      // Desktop Image
      .medium-12.column52.columns.show-for-large.vertical_centered(data-equalizer-watch)
        .vertical_centered_content
          img(src="#{locals.path}/assets/images/employer-branding/1.png" srcset="#{locals.path}/assets/images/employer-branding/1@2x.png 2x, #{locals.path}/assets/images/employer-branding/1@3x.png 3x" width="100%")


    //Feature 2    

    .row.split_section-left.row90(data-equalizer data-equalize-on="medium", data-aos="fade-zoom-in")
      .medium-12.column52.columns(data-equalizer-watch)
        img.custom-padding(src="#{locals.path}/assets/images/employer-branding/2.png" srcset="#{locals.path}/assets/images/employer-branding/2@2x.png 2x, #{locals.path}/assets/images/employer-branding/2@3x.png 3x" width="100%")
      .small-11.medium-12.large-3.large-pull-2.columns.vertical_centered(data-equalizer-watch)
        .vertical_centered_content
          h4 #{page.metadata.howdoesitworks.header2}
          p #{page.metadata.howdoesitworks.text2_1} 
          p #{page.metadata.howdoesitworks.text2_2}



    // Feature 3

    .row.split_section-left.row90(data-equalizer data-equalize-on="medium", data-aos="fade-zoom-in")

      // Mobile image
      .small-12.columns.hide-for-large
        img(src="#{locals.path}/assets/images/employer-branding/3.png" srcset="#{locals.path}/assets/images/employer-branding/3@2x.png 2x, #{locals.path}/assets/images/employer-branding/3@3x.png 3x")

      // Description
      .small-11.medium-12.medium-uncentered.large-3.large-push-2.columns.vertical_centered(data-equalizer-watch)
        .vertical_centered_content
          h4 #{page.metadata.howdoesitworks.header3}
          p #{page.metadata.howdoesitworks.text3_1}

      // Desktop Image
      .medium-6.column52.columns.show-for-large(data-equalizer-watch)
        img(src="#{locals.path}/assets/images/employer-branding/3.png" srcset="#{locals.path}/assets/images/employer-branding/3@2x.png 2x, #{locals.path}/assets/images/employer-branding/3@3x.png 3x" width="100%")