/////
// STYLES FOR THIS SECTION YOU CAN FIND IN sollicitatie-proces.scss

section
  .expanded.features_1_section
    .row(data-aos="fade-zoom-in")
      .medium-6.medium-centered.features_1_header_block
        h2.features_1_title #{page.metadata.whyvideo.title}
        p.features_1_subheader #{page.metadata.whyvideo.subtitle}
      .medium-5.columns.features_1_content
        .row
          // Feature 1
          .small-1.columns.features_1_icon
            i.ion-person-add
          .small-11.columns.features_1_text
            p #{page.metadata.whyvideo.feature1}

          // Feature 2
          .small-1.columns.features_1_icon
            i.ion-funnel
          .small-11.columns.features_1_text
            p  #{page.metadata.whyvideo.feature2}

          // Feature 3  
          .small-1.columns.features_1_icon
            i.ion-search
          .small-11.end.columns.features_1_text
            p  #{page.metadata.whyvideo.feature3}

      .medium-5.columns.features_1_content
        .row
          // Feature 4
          .small-1.columns.features_1_icon
            i.ion-thumbsup
          .small-11.columns.features_1_text
            p  #{page.metadata.whyvideo.feature4}

          // Feature 5
          .small-1.columns.features_1_icon
            i.ion-forward
          .small-11.columns.features_1_text
            p  #{page.metadata.whyvideo.feature5}

          // Feature 6 
          .small-1.columns.features_1_icon
            i.ion-ios-videocam
          .small-11.end.columns.features_1_text
            p  #{page.metadata.whyvideo.feature6}